<a href="https://colab.research.google.com/github/thunderbird57/Python/blob/master/Ecommerce-EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Series -> 1 dimentional array

DataFrame -> 2 Dimensional Array

### Series Creation and Indexing

In [ ]:
import pandas as pd

l = range(1, 10)
s = pd.Series(l)
print(s)
print("------------------")
x=3
print("the index {} -> value is {}".format(x, s[x]))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
------------------
the index 3 -> value is 4

In [ ]:
# Create series with specified index
import pandas as pd

l = range(1, 6)
# l is [1, 2, 3, 4, 5]
idx = ["aa", "bb", "ccc", "dddd", "eeeeee"]
s = pd.Series(l, idx)
print(s)
print("------------------")
i = "ccc"
print("the index {} -> value is {}".format(i, s[i]))

aa        1
bb        2
ccc       3
dddd      4
eeeeee    5
dtype: int64
------------------
the index ccc -> value is 3

In [ ]:
# Create a Series from Dictionary
import pandas as pd

d = {'bb': 1, 'a': 0, 'ccc': 2}
s = pd.Series(d)
print(s)
print("------------------")
i = "ccc"
print("the index {} -> value is {}".format(i, s[i]))

bb     1
a      0
ccc    2
dtype: int64
------------------
the index ccc -> value is 2

In [ ]:
## Create a Series from Numpy Array

import numpy as np

l = np.arange(1, 10)
print(type(l))
print("----------------------------")
s = pd.Series(l)
print(s)
i = 3
print("the index {} -> value is {}".format(i, s[3]))

<class 'numpy.ndarray'>
----------------------------
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
the index 3 -> value is 4

In [ ]:
# Series from Scaler

s = pd.Series(3)
print(s)
print("----------------------------")
s = pd.Series(3, index=range(1,4))
print(s)

0    3
dtype: int64
----------------------------
1    3
2    3
3    3
dtype: int64

In [ ]:
## Pandas Series Indexing
import pandas as pd

s = pd.Series(range(1, 20))
# integer index
print("The second value of s is {}".format(s[1]))
print("-----------------")
# tuple index
print("The second and sixth value of s is {}".format(s[[1, 5]].values))
print("-----------------")
# to the end elements
print("All elements of s from the sixth index onwards are {}".format(s[5:].values))
print("-----------------")
# [start:stop:step]
print("All elements of s from index=1 to the index=10"
      "with step=2 onwards are {}".format(s[1:10:2].values))
print("-----------------")

The second value of s is 2
-----------------
The second and sixth value of s is [2 6]
-----------------
All elements of s from the sixth index onwards are [ 6  7  8  9 10 11 12 13 14 15 16 17 18 19]
-----------------
All elements of s from index=1 to the index=10with step=2 onwards are [ 2  4  6  8 10]
-----------------

In [ ]:
## Advanced Slicing
import pandas as pd

s = pd.Series(range(1, 20))
# get all even number
s1 = s[s%2==0]
print("All even number in the series are {}".format(s1.values))
print("-----------------")
s2 = s[s>8]
print("All numbers which is larger than 8 in the series are {}".format(s2.values))
print("-----------------")
s3 = s[s > s.mean()]
print("All numbesr which is larger than the mean of the series"
      " in this series are {}".format(s3.values))
print("-----------------")

All even number in the series are [ 2  4  6  8 10 12 14 16 18]
-----------------
All numbers which is larger than 8 in the series are [ 9 10 11 12 13 14 15 16 17 18 19]
-----------------
All numbesr which is larger than the mean of the series in this series are [11 12 13 14 15 16 17 18 19]
-----------------

### Vectorization operations

In [ ]:
## You can use most of numpy methods with Pandas series

s = pd.Series(range(1, 8))
d1 = s * 2
print("Multiplying all elements by 2.\n The original series is {}.\n"
      "The new series is {}".format(s.values, d1.values))
print("-----------------")
d2 = s + s + s
print("Adding two series objects\n. The original series is {}.\n"
      "The new series is {}".format(s.values, d2.values))
print("-----------------")
d3 = np.sin(s)
print("Applying sin() to all elements.\n The original series is {}.\n"
      "The new series is {}".format(s.values, d3.values))

Multiplying all elements by 2.
 The original series is [1 2 3 4 5 6 7].
The new series is [ 2  4  6  8 10 12 14]
-----------------
Adding two series objects
. The original series is [1 2 3 4 5 6 7].
The new series is [ 3  6  9 12 15 18 21]
-----------------
Applying sin() to all elements.
 The original series is [1 2 3 4 5 6 7].
The new series is [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427 -0.2794155
  0.6569866 ]

## Creating DataFrame from Numpy Arrays

In [ ]:
d = np.random.normal(size=(2,3))
print("The original Numpy array")
print(d)
print("---------------------")

s = pd.DataFrame(d)
print("The DataFrame ")
print(s)

The original Numpy array
[[-0.03404408  0.03305115 -1.05329636]
 [ 1.50844606  0.52082634 -1.59541694]]
---------------------
The DataFrame
          0         1         2
0 -0.034044  0.033051 -1.053296
1  1.508446  0.520826 -1.595417

In [ ]:
# From dictionary
d = {"a": [1, 2, 3, 4], "b": [2, 4, 6, 8]}
df = pd.DataFrame(d)
print("The DataFrame ")
print(df)
print("---------------------")
print("The values of column a are {}".format(df["a"].values))

# example 2: init a dataframe by dict with different index
d = {"a": {"a1":1, "a2":2, "c":3}, "b":{"b1":2, "b2":4, "c":9}}
df = pd.DataFrame(d)
print("The DataFrame ")
print(df)

The DataFrame
   a  b
0  1  2
1  2  4
2  3  6
3  4  8
---------------------
The values of column a are [1 2 3 4]
The DataFrame
      a    b
a1  1.0  NaN
a2  2.0  NaN
c   3.0  9.0
b1  NaN  2.0
b2  NaN  4.0

In [ ]:
# dictionary of series
# example 1: series without index
s = {"a": pd.Series(range(1, 3)), "b": pd.Series(range(2, 5))}

df = pd.DataFrame(s)
print("dataframe created from dict of series")
print(df)
print("--------------------")

# example 2: series with index
s = {
    "a": pd.Series(range(1, 3), index=["a", "b"]),
    "b": pd.Series(range(2, 5), index=["b", "c","d"])
}
df = pd.DataFrame(s)
print("dataframe created from dict of series with index")
print(df)

dataframe created from dict of series
     a  b
0  1.0  2
1  2.0  3
2  NaN  4
--------------------
dataframe created from dict of series with index
     a    b
a  1.0  NaN
b  2.0  2.0
c  NaN  3.0
d  NaN  4.0

In [ ]:
## from_dict cvonstruct
d = {"a": [1, 2, 3, 4], "b": [2, 4, 6, 8]}
df = pd.DataFrame.from_dict(d)
print("dataframe created from from_dict")
print(df)
print("--------------------")

df = pd.DataFrame.from_dict(d, orient="index")
print("dataframe created from from_dict and set the orient")
print(df)

dataframe created from from_dict
   a  b
0  1  2
1  2  4
2  3  6
3  4  8
--------------------
dataframe created from from_dict and set the orient
   0  1  2  3
a  1  2  3  4
b  2  4  6  8

## Read CSV

    sep: If sep is None, Python will automatically detect the separator. In this case, the separator is ,.
    header: If no names are passed, the behavior is identical to header=0 and column names are inferred from the first line of the file. If the column names are passed explicitly, then the behavior is identical to the header=None.
    names: List of column names provided by the caller. If the file contains the header row, you need to specify the header=0 to override it.
    nrows: Specify how many rows you want to read.
    usecols: Return a subset of the columns. You can pass the column names such as ["a", "b"]

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
sample = '/gdrive/My Drive/Colab Notebooks/Datasets/sample_pandas.csv'
df = pd.read_csv(sample)


# example: read all the files, use original column names

print("Print the first row")
print(df.head(1))
print("--------------------")

df = pd.read_csv(sample, sep=",", nrows=10)
print("only read 10 rows")
print("The number of row in this dataframe is {}".format(df.shape[0]))
print("--------------------")

df = pd.read_csv(sample, sep=",", header=0, names=["a", "b", "c"])
print("use the new column names")
print(df.head(1))
print("--------------------")

df = pd.read_csv(sample, sep=",", header=0, usecols=["animal","water_need"])
print("only rad the animal column")
print(df.head(1))

Print the first row
     animal  uniq_id  water_need
0  elephant     1001         500
--------------------
only read 10 rows
The number of row in this dataframe is 10
--------------------
use the new column names
          a     b    c
0  elephant  1001  500
--------------------
only rad the animal column
     animal  water_need
0  elephant         500

In [ ]:
df.shape

(22, 2)

In [ ]:
df = pd.read_csv(sample)

col = df["uniq_id"]
print("The value of the \"uniq_id\" column is {}".format(col.values))

The value of the "uniq_id" column is [1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014
 1015 1016 1017 1018 1019 1020 1021 1022]

In [1]:
kaggle datasets download -d olistbr/brazilian-ecommerce

SyntaxError: ignored